<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
    </div>
    <div class="recipe-title-conteiner">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Rafael Amaral
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            01/04/2024 às 9:43
        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manha/">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus ullamcorper justo, eu sagittis nulla malesuada id. Suspendisse potenti. Suspendisse vitae sapien non erat luctus consectetur. Morbi nec ante vel lacus porttitor volutpat. Sed finibus ultrices nunc, pharetra sodales lacus sodales vitae. Nam ullamcorper mollis tellus non interdum. Pellentesque auctor pulvinar gravida. Maecenas ac libero lacus. Vestibulum ac enim luctus, ultrices lorem ut, lobortis dolor. Nunc egestas mauris tellus, non volutpat risus hendrerit vitae. Suspendisse imperdiet dignissim sollicitudin. Sed libero urna, tincidunt vitae ante at, rhoncus fringilla tellus. Duis euismod ornare lacus, ut consectetur dui egestas in.

            Quisque aliquam nisl sem, eget placerat nisl tempor in. Aliquam metus leo, porta et libero a, interdum maximus ligula. Morbi ac nisi elit. Vivamus et dolor blandit, vestibulum lacus et, porttitor magna. Cras accumsan magna mi. Vivamus rhoncus hendrerit ullamcorper. Sed non tincidunt eros.
            
            Aliquam placerat, odio vitae molestie volutpat, felis dolor porttitor justo, et volutpat lacus lacus laoreet ligula. Maecenas efficitur elit eget nisi vulputate, vel tempor nisl lobortis. Phasellus sem orci, lobortis in augue id, dignissim euismod eros. Fusce at bibendum sapien, sit amet semper turpis. Aliquam dignissim sem a nibh euismod tincidunt. Cras vestibulum ante nec ex porttitor pulvinar. Mauris pharetra nunc rutrum malesuada dignissim. Maecenas condimentum tortor a lorem egestas, id laoreet metus facilisis. Ut vel convallis augue, id convallis metus. Integer vel elit sem. Proin faucibus nisl ac felis mattis mollis.</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>